<template>
<v-col class="text-right">
      <v-btn
          color="success"
          class="mt-2 mb-2 ml-2"
      >
      <router-link to="/examinations/new" class="text-white">Nowy rekord</router-link>
      </v-btn>
    </v-col>
  <v-card>
    <v-table>
      <thead>
      <tr>
        <th class="text-left" v-on:click="sortId">
          ID
        </th>
        <th class="text-left" v-on:click="sortPacjent">
          Pacjent
        </th>
        <th class="text-left" v-on:click="sortNazwa">
          Nazwa badania
        </th>
        <th class="text-left" v-on:click="sortDate">
          Data badania
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
          v-for="item in strona"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >

        <td>{{ item.id }}</td>
        <td>{{ item.patient.name }} {{ item.patient.surname }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.date }}</td>
        <td v-if="item.realized===true">{{ "zrealizowano" }}</td>
      </tr>
      </tbody>
    </v-table>

    <div class="text-center">
      <v-pagination
        v-model="page"
        :length="len"
        ></v-pagination>
    </div>

  </v-card>
</template>

<script>

import ExamService     from '../services/exam.service';

export default {
  name: "ExamsTable",
  data() {
    return {
      page: 1,
      rozmiar: 5,
      exams: []

    }
  },
created() {
    ExamService.getExamList().then((response) => {
      this.exams = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
  ExamService.getExamList().then((response) => {
      this.exams = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
  computed: {
    len() {
      if(this.exams.length % this.rozmiar == 0)
        return this.exams.length/this.rozmiar
      else
        return this.exams.length/this.rozmiar+1
    },
    strona(){
      return this.exams.slice((this.page-1)*this.rozmiar,this.page*this.rozmiar)
    }
  },

  methods: {

          showDetail (itemId){
              this.$router.push({name: 'examination', params:{id: itemId}})
          },
        sortId: function () {
          return this.exams.sort(function (a,b){
            return(a.id2 > b.id2) ? 1 : -1
          });
        },
        sortPacjent: function () {
          return this.exams.sort(function(a,b){
            return(a.patient.name > b.patient.name) ? 1 : -1
          });
        },
        sortNazwa: function (){
          return this.exams.sort(function(a,b){
            return(a.nazwa > b.nazwa) ? 1 : -1
          });
        },
        onItemClicked (itemId) {
              this.showDetail(itemId)
        },
        sortDate: function (){
          return this.exams.sort(function(a,b){
            return(a.date > b.date) ? 1 : -1
          });
        },
      }
}
</script>

<style scoped>

a{
    text-decoration: none;
    color: #000;
}
.add-btn{
  height: 40px;
  border-radius:90px ;
}

</style>


