<template>
  <container-component>
   <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>
    <v-card width="600">
        <v-card-title><h2>Badanie {{id}}</h2></v-card-title>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            :disabled = !editForm
        >
        <v-card-text>
             <v-text-field
                   v-model="patientId"
                   :counter="10"
                   :rules="Idpatient"
                   label="ID Pacjenta"
                   required
                   @change="updateName"
             ></v-text-field>
              <v-text-field
                    v-model="patientName"
                    label="Imię i Nazwisko Pacjenta"
                    disabled
              ></v-text-field>
              <v-text-field
                    v-model="name"
                    :counter="50"
                    :rules="nameExam"
                    label="Nazwa badania"
                    required
              ></v-text-field>
             <v-text-field
                   v-model="description"
                   :counter="100"
                   :rules="descriptionExam"
                   label="Opis badania"
                   required
             ></v-text-field>
             <v-text-field
                    v-model="date"
                    :counter="10"
                    :rules="dateExam"
                    label="Data badania"
                    required
              ></v-text-field>
              <v-checkbox
                   class="container"
                   v-model="realized"
                   :rules="realizedExam"
                   label="Zrealizowano"
               ></v-checkbox>
              <v-text-field
                    v-model="result"
                    :counter="100"
                    :rules="[resultExam]"
                    label="Wynik badania"
              ></v-text-field>
              <v-btn
                color="success"
                class="mr-4"
                @click="validate"
              >
                Zapisz
              </v-btn>
              <v-btn
                  color="error"
                  class="mr-4"
                  @click="$router.go(-1)"
              >
                  Anuluj
              </v-btn>

              <v-btn
                  color="error"
                  class="mr-4"
                  :disabled="editForm"
                  @click="editForm = true"
              >
                  Edytuj
              </v-btn>
        </v-card-text>
         </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import PatientService     from '../services/patient.service';
import ExamService     from '../services/exam.service';

export default {
  name: "ExamDetails",
  components: {ContainerComponent},
  props: ['id'],
  data() {
      return {
         exam: {},
         patient: {},

         arrowLeft: 'mdi-arrow-left',
         patientId:'',
         Idpatient: [
              v => !!v || 'Wybór pacjenta poprzez wskazanie jego id jest wymagane',
         ],
         date:'',
         valid: true,
         dateExam: [
                v => !!v || 'Data badania jest wymagana',
                v => (v && (v[4] == '-' && v[7] == '-')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[0] == '2')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[1] >= '0' && v[1] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[2] >= '0' && v[2] <= '4')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[3] >= '0' && v[3] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[5] >= '0' && v[5] <= '1')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && ((v[5] == 0 && v[6] >= '1' && v[6] <= '9') || (v[5] == 1 && v[6] >= '0' && v[6] <= '2'))) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[8] >= '0' && v[8] <= '3')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (((v[8] == 1 || v[8] == 2) && v[9] >= '0' && v[9] <= '9') || (v[8] == 3 && v[9] >= '0' && v[9] <= '1') || (v[8] == 0 && v[9] >= '1' && v[9] <= '9') )) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && v.length <= 10) || 'Data powinna być w formacie rrrr-mm-dd',


          ],
         patientName:'',
         editForm: false,
         name:'',
         nameExam: [
                  v => !!v || 'Nazwa badania jest wymagana',
                  v => (v && (( v[0] >= 'a' && v[0]<='z') || (v[0] >= 'A' && v[0]<='Z'))) ||'Nazwa badania powinna sie zaczynać od litery',
          ],
         description:'',
         descriptionExam: [
                  v => !!v || 'Opis badania jest wymagany',
          ],
         result:'',
         realized: false,
      }
   },
  created() {

         ExamService.getExam(this.$props.id).then((response) => {
         this.exam = response.data
         console.log(this.props)
         this.patientId = this.exam.patient.id,
         this.patientName = this.exam.patient.name + ' ' + this.exam.patient.surname,
         this.name = this.exam.name
         this.date = this.exam.date
         this.description = this.exam.description
         this.result=this.exam.result
         this.realized=this.exam.realized
         console.log(response.data)
         }).catch(error => {
           this.editForm = true
           if (error.response.status === 405) {
            this.editForm = true
           }
         })
     },
      methods: {
          saveRecord() {
                if(this.exam.id == null){
                  console.log("create exam")
                   this.createExam()
                }
                else{
                  console.log("update exam")
                   this.updateExam(this.exam.id)
                }
                this.$router.go(-1)
           },
           resultExam( value){
                if( value.length == 0 && this.realized == true)
                   return 'Wymagany wynik dla zrealizowanego badania'
                return true;
               },

              async validate() {
                  const validateObject = await this.$refs.form.validate()

                  if(validateObject.valid){
                      this.saveRecord()
                  }

              },
           updateName() {
                this.patientName= ''
                 PatientService.getPatient(this.patientId).then((response) => {
                 this.patient = response.data
                 this.patientName = this.patient.name + ' ' + this.patient.surname,
                 this.name = this.exam.name
                  }).catch(error => {
                   if (error.response.status === 405) {
                    this.editForm = true
                   }
                 })
           },
           createExam (){

             const exam = {
               patient_id: this.patientId,
               name: this.name,
               date: this.date,
               description: this.description,
               result: this.result,
               realized: this.realized,
               }
             ExamService.createExam(exam).then((response) => {
             this.exam = response.data
             }).catch(error => {
               console.log(error)
             })
           },
           updateExam (){
             const exam = {
               patient_id: this.patientId,
               name: this.name,
               date: this.date,
               description: this. description,
               result: this.result,
               realized: this.realized,

               }
             ExamService.updateExam(this.exam.id ,exam).then((response) => {
             this.exam = response.data
             }).catch(error => {
               console.log(error)
             })
           },
           deleteExam() {
             ExamService.deleteExam(this.exam.id).then((response) => {
               console.log(response.data)
               console.log("delete exam" + this.exam.id)
             }).catch(error => {
               console.log(error)
             })
           }
      }
}
</script>

<style scoped>

.container {
  display: block;
  position: sticky;
  padding-left: 400px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 25px;
}

</style>