<template>
  <v-card>
    <v-col class="text-right">
      <v-btn
          color="success"
          class="mt-2 mb-2 ml-2"
      >
      <router-link to="/medicalreceipts/new" class="text-white">Nowy rekord</router-link>
      </v-btn>
    </v-col>
    <v-table>
      <thead>
      <tr>
        <th class="text-left" v-on:click="sortId">
          ID
        </th>
        <th class="text-left" v-on:click="sortPacjent">
          Pacjent
        </th>
         <th class="text-left" v-on:click="sortDate">
          Data Recepty
        </th>

      </tr>
      </thead>
      <tbody>
      <tr
          v-for="item in strona"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >

        <td>{{ item.id }}</td>
        <td>{{ item.patient.name }} {{ item.patient.surname }}</td>
        <td>{{ item.expirationDate }}</td>
      </tr>
      </tbody>
    </v-table>

    <div class="text-center">
      <v-pagination
        v-model="page"
        :length="len"
        ></v-pagination>
    </div>

  </v-card>
</template>

<script>

import MedicalReceiptsService     from '../services/medical-receipts.service';

export default {
  name: "MedicalReceiptsTable",
  data() {
    return {
      page: 1,
      rozmiar: 5,
      medicalreceipts: []

    }
  },
created() {
    MedicalReceiptsService.getMedicalReceiptsList().then((response) => {
      this.medicalreceipts = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
  MedicalReceiptsService.getMedicalReceiptsList().then((response) => {
      this.medicalreceipts = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
  computed: {
    len() {
      if(this.medicalreceipts.length % this.rozmiar == 0)
        return this.medicalreceipts.length/this.rozmiar
      else
        return this.medicalreceipts.length/this.rozmiar+1
    },
    strona(){
      return this.medicalreceipts.slice((this.page-1)*this.rozmiar,this.page*this.rozmiar)
    }
  },

  methods: {

          showDetail (itemId){
              this.$router.push({name: 'medicalreceipt', params:{id: itemId}})
          },
        sortId: function () {
          return this.medicalreceipts.sort(function (a,b){
            return(a.id > b.id) ? 1 : -1
          });
        },
        sortPacjent: function () {
          return this.medicalreceipts.sort(function(a,b){
            return(a.patient.name > b.patient.name) ? 1 : -1
          });
        },
        onItemClicked (itemId) {
              this.showDetail(itemId)
        },
        sortDate: function (){
          return this.medicalreceipts.sort(function(a,b){
            return(a.expirationDate > b.expirationDate) ? 1 : -1
          });
        },
      }
}
</script>

<style scoped>

a{
    text-decoration: none;
    color: #000;
}
.add-btn{
  height: 40px;
  border-radius:90px ;
}

</style>

