<template>
  <nav>
    <v-app-bar flat app elevate-on-scroll>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Clinic-</span>
        <span>System</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

<!--      &lt;!&ndash; Search icon &ndash;&gt;-->
<!--      <v-btn icon>-->
<!--        <v-icon>mdi-magnify</v-icon>-->
<!--      </v-btn>-->
<!--      &lt;!&ndash; 3 dots &ndash;&gt;-->
<!--      <v-btn icon>-->
<!--        <v-icon>mdi-dots-vertical</v-icon>-->
<!--      </v-btn>-->
    </v-app-bar>

    <v-navigation-drawer
        :width="drawerWidth"
        bottom
        permanent>
      <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
          :title="name"
        >
      </v-list-item>
      <v-divider></v-divider>
      <!--List-->
      <v-list v-if="me.roles[0].name == 'ROLE_ADMIN'" density="compact" nav>
        <v-list-item v-for="link in linksAdmin" :key="link.text" router :to="link.route"  :title="link.text"></v-list-item>
      </v-list>
      <v-list v-else-if="me.roles[0].name == 'ROLE_DOCTOR'" density="compact" nav>
        <v-list-item v-for="link in linksDoctor" :key="link.text" router :to="link.route"  :title="link.text"></v-list-item>
      </v-list>
      <v-list v-else-if="me.roles[0].name == 'ROLE_NURSE'" density="compact" nav>
        <v-list-item v-for="link in linksNurse" :key="link.text" router :to="link.route"  :title="link.text"></v-list-item>
      </v-list>
      <v-list v-else-if="me.roles[0].name == 'ROLE_LAB_TECHNICIAN'" density="compact" nav>
        <v-list-item v-for="link in linksLab" :key="link.text" router :to="link.route"  :title="link.text"></v-list-item>
      </v-list>
      <v-list v-else-if="me.roles[0].name == 'ROLE_RECEPCIONIST'" density="compact" nav>
        <v-list-item v-for="link in linksRecepcionist" :key="link.text" router :to="link.route"  :title="link.text"></v-list-item>
      </v-list>

      <template v-slot:append>
          <div class="pa-2">
            <v-btn block @click.prevent="logOut">
              Logout
            </v-btn>
          </div>
        </template>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import 'material-design-icons-iconfont/dist/material-design-icons.css'
export default {
  name: "NavbarComponent",
  data() {
    return {
      drawerWidth: 256,
      me: {},
      name: '',
      linksAdmin: [
        { icon:  "/assets/home-city.svg", text: 'Dashboard', route: '/home' },
        { icon: 'mdi-account', text: 'Pacjenci', route: '/patients' },
        { icon: 'mdi-flask-empty-outline', text: 'Badania', route: '/examsTable' },
        { icon: 'mdi-doctor ', text: 'Lekarze', route: '/doctors' },
        { icon: 'mdi-flask-empty-outline', text: 'Wizyty', route: '/visits' },
        { icon: 'mdi-pulse ', text: 'Parametry życiowe', route: '/vital-signs' },
        { icon: 'mdi-account-hard-hat ', text: 'Zlecenia', route: '/medical-orders' },
        { icon: 'mdi-heart-plus ', text: 'Pielęgniarki', route: '/nurses' },
        { icon: 'mdi-note-outline ', text: 'Skierowania', route: '/referrals' },
        { icon: 'mdi-needle ', text: 'Zabiegi', route: '/treatment' },
        { icon: 'mdi-content-paste ', text: 'Recepty', route: '/medicalReceiptsTable' },
      ],
      linksNurse: [
        { icon: 'mdi-home-city', text: 'Dashboard', route: '/home' },
        { icon: 'mdi-account', text: 'Pacjenci', route: '/patients' },
        { icon: 'mdi-flask-empty-outline', text: 'Badania', route: '/examsTable' },
        { icon: 'mdi-pulse ', text: 'Parametry życiowe', route: '/vital-signs' },
        { icon: 'mdi-account-hard-hat ', text: 'Zlecenia', route: '/medical-orders' },
        { icon: 'mdi-heart-plus ', text: 'Pielęgniarki', route: '/nurses' },
        { icon: 'mdi-needle ', text: 'Zabiegi', route: '/treatment' },
        { icon: 'mdi-content-paste ', text: 'Recepty', route: '/medicalReceiptsTable' },
      ],
      linksDoctor: [
        { icon: 'mdi-home-city', text: 'Dashboard', route: '/home' },
        { icon: 'mdi-account', text: 'Pacjenci', route: '/patients' },
        { icon: 'mdi-flask-empty-outline', text: 'Badania', route: '/examsTable' },
        { icon: 'mdi-doctor ', text: 'Lekarze', route: '/doctors' },
        { icon: 'mdi-flask-empty-outline', text: 'Wizyty', route: '/visits' },
        { icon: 'mdi-pulse ', text: 'Parametry życiowe', route: '/vital-signs' },
        { icon: 'mdi-account-hard-hat ', text: 'Zlecenia', route: '/medical-orders' },
        { icon: 'mdi-heart-plus ', text: 'Pielęgniarki', route: '/nurses' },
        { icon: 'mdi-note-outline ', text: 'Skierowania', route: '/referrals' },
        { icon: 'mdi-needle ', text: 'Zabiegi', route: '/treatment' },
      ],
      linksLab: [
        { icon: 'mdi-home-city', text: 'Dashboard', route: '/home' },
        { icon: 'mdi-flask-empty-outline', text: 'Badania', route: '/examsTable' },
      ],
      linksRecepcionist: [
        { icon: 'mdi-home-city', text: 'Dashboard', route: '/home' },
        { icon: 'mdi-account', text: 'Pacjenci', route: '/patients' },
        { icon: 'mdi-note-outline ', text: 'Skierowania', route: '/referrals' },
      ]
    }
  },
  created() {
    this.me = JSON.parse(localStorage.getItem('me'));
    this.name = this.me.firstName + " " + this.me.lastName
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/')
    }
  }
}
</script>

<style>
.v-app-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
</style>
