<template>
<container-component>
  <v-card>
    <v-card-title >
    <h3> </h3>
    </v-card-title>
    <Calendar is-expanded />
  </v-card>
  
</container-component>
</template>


<script>
  import 'v-calendar/dist/style.css';
  import ContainerComponent from "@/components/Container";
  import { Calendar } from 'v-calendar';
  export default {
    name: "CalendarsView",
    components: {ContainerComponent, Calendar},
    //https://vcalendar.io/attributes.html#_2-scoped-slot
  }
</script>

<style scoped>
.v-card {
  height: 210px;
   border-radius: 5px;
}
.v-card-title {
  color: unset;
  background-color: #00bfa5;
  padding: 0;
  border-radius: 5px 5px 0 0;
}
</style>