<template>
  <v-card>
    <v-card-title>
      <h5>{{ months[new Date().getMonth()] }}</h5>
    </v-card-title>
    <v-card-subtitle>
      <p class="text-h2 text--primary">
        {{ new Date().getDate().toString().padStart(2, '0') }}
      </p>
    </v-card-subtitle>
    <v-card-actions>
      <v-btn
          variant="text"
          color="teal-accent-4"
          @click="showCalendar()"
          class="pb-3"
      >
        Wyświetl kalendarz
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "CurrentDayCard",
  methods: {
    showCalendar () {
    this.$router.push({name: 'Calendar'})
    }
  },
  setup() {
    const months = ["Styczeń", "Luteń", "Marzeń", "Kwiecień", "Majeń", "Czerwień",
      "Lipień", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"
    ];
    return {
      months
    }
  }
}
</script>

<style scoped>
.v-card {
  height: 210px;
   border-radius: 5px;
}

.v-card-title {
  color: unset;
  background-color: #00bfa5;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.v-card-subtitle {
  padding: 16px;
  opacity: unset;
}

h5 {
  padding: 16px;
  color: white;
}
</style>
