<template>
  <v-card>
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          Id
        </th>
        <th class="text-left">
          Data
        </th>
        <th class="text-left">
          Pacjent
        </th>
        <th class="text-left">
          Doktor
        </th>
        <th class="text-left">
          Wywiad
        </th>
        <th class="text-left">
          Diagnoza
        </th>
      </tr>
      </thead>
      <tbody>    
      <tr
          v-for="item in pagedResult"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.doctor.firstName }} {{ item.doctor.lastName }}</td>
        <td>{{ item.patient.name }} {{ item.patient.surname }}</td>
        <td>{{ item.medicalInterview}} </td>
        <td>{{ item.diagnosis}} </td>
      </tr>
      </tbody>
    </v-table>
    <div class="text-left">
      <v-pagination
        v-model="currentPage"
        :length="len"
        ></v-pagination>
    </div>
  </v-card>
</template>

<script>
import VisitService from '@/services/visit.service';
export default {
  name: "PatientsTable",
  data() {
return {
    currentPage: 1,
    size: 10,
    visits: []
}
},
created() {
    VisitService.getVisitsTodayList().then((response) => {
      this.visits = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
  VisitService.getVisitsTodayList().then((response) => {
      this.visits = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},

computed: {
  len() {
    if(this.visits.length % this.size == 0)
    return this.visits.length/this.size
    else
    return this.visits.length/this.size+1
},

pagedResult(){
    return this.visits.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
}
}
}
</script>

<style scoped>

</style>
