<template>
  <v-card>
    <v-card-title>
      <h5>Dzisiejszych pacjentów</h5>
    </v-card-title>
    <v-card-subtitle>
      <p class="text-h2 text--primary">
        {{ visits.length }}
      </p>
    </v-card-subtitle>
    <v-card-actions>
      <v-btn
          variant="text"
          color="teal-accent-4"
          class="pb-3"
          @click="showPatientsList()"
      >
        Lista pacjentów
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import VisitService from '@/services/visit.service';
export default {
  name: "PatientCountCard",
  data: () => ({
    visits: []
  }),
  created() {
    VisitService.getVisitsTodayList().then((response) => {
      this.visits = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
  },
  methods: {
    showPatientsList () {
    this.$router.push({name: 'PatientList'})
    }
  }
}
</script>

<style scoped>
.v-card {
  height: 210px;
  border-radius: 5px;
}

.v-card-title {
  color: unset;
  background-color: #00bfa5;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.v-card-subtitle {
  padding: 16px;
  opacity: unset;
}

h5 {
  padding: 16px;
  color: white;
}
</style>
