<template>
  <v-card>
    <v-card-title>
      <h5>Profil</h5>
    </v-card-title>
    <v-card-subtitle>
      <v-avatar
          color="brown"
          size="64"
      >
        <v-img
            src="https://randomuser.me/api/portraits/men/85.jpg"
            alt="AD"
        ></v-img>
      </v-avatar>
      <p class="text-h4">
        {{ fullName }}
      </p>
    </v-card-subtitle>
    <v-card-actions>
      <v-btn
          variant="text"
          color="teal-accent-4"
          class="pb-2"
          @click="showProfile()"
      >
        Pokaż dane pracownka
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "ProfileCard",
  data() {
    return {
      me: {},
      fullName: '',
    }
  },
  created() {
    this.me = JSON.parse(localStorage.getItem('me'));
    this.fullName = this.me.firstName + " " + this.me.lastName
  },
  methods: {
    showProfile () {
    this.$router.push({name: 'Profile'})
    }
  }
}
</script>

<style scoped>
.v-card {
  height: 210px;
  border-radius: 5px;
}

.v-card-title {
  color: unset;
  background-color: #00bfa5;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.v-card-subtitle {
  padding: 16px;
  opacity: unset;
}

.v-avatar {
  margin-right: 16px;
}

h5 {
  padding: 16px;
  color: white;
}
</style>
