<template>
  <v-app class="grey lighten-4">
    <Navbar v-if="!isLogin"/>

    <v-content class="mx-4 mb-4 mt-15">
      <router-view/>
    </v-content>
    
  </v-app>

</template>

<script>
import Navbar from './components/Navbar'

export default {
  components: { Navbar },
  name: 'App',
  computed: {
    isLogin() {
      return this.$route.name === 'Login'
    }
}
}
</script>
