<template>
<container-component>
  <v-table>
    <thead>
        <tr>
          <th class="text-center"><h2>Imie Nazwisko</h2></th>
          <th class="text-center"><h2>Stanowisko</h2></th>
          <th class="text-center"><h2>Akcja</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in emp"
          :key="item.name"
        >
          <td class="text-center non"><a> <router-link to="/UserDetails">{{ item.name }}</router-link></a></td>
          <td class="text-center"><a>{{ item.poz }}</a></td>
          <td class="text-center"><v-btn ><v-icon>mdi-pencil</v-icon> </v-btn> <v-btn depressed color="error"><v-icon >mdi-delete</v-icon> </v-btn></td>
        </tr>
      </tbody>
  </v-table>

  <div class="text-center mt-10">
     <v-btn   class="add-btn" color="success" x-large dark>
        <v-icon>mdi-account-plus</v-icon>  
          <span class="ms-3 AddEmpBtn"> <a > <router-link to="/EmpAdd">Dodaj pracownika</router-link></a> </span>
      </v-btn>
    </div>
</container-component>>
</template>

<script>
import ContainerComponent from "@/components/Container";
export default {
 components: {ContainerComponent},
    name: 'AdminEmpList',
    data () {
      return {
       
        emp: [
          {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
          
          {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
           {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
          {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
           {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
         {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
          {
            name: 'Jan Kowalski',
            poz: 'Lekarz',
          },
        ],
      }
    },
  }
</script>

<style scoped>
a{
  text-decoration: none;
  color: #000;
}
v-table{
  font-size: 20px;
}
.add-btn{
  height: 40px;
  border-radius:90px ;
}

.AddEmpBtn{
  text-decoration: none;
}
</style> 