<template>
<container-component>
<v-col class="text-right">
</v-col>
  <v-card> 
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          Imię
        </th>
        <th class="text-left">
          Nazwisko
        </th>    
        <th class="text-left">
          pesel
        </th>
        <th class="text-left">
         panel obsługi 
        </th>
      </tr>
      </thead>
      <tbody>    
      <tr
          v-for="item in emp"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.pesel }}</td>
        <td class="text-left"><v-btn >
          <router-link to="/PatientControlPanel">
            <v-icon>mdi-pencil</v-icon> 
          </router-link>
          </v-btn>  </td>
      </tr>
      </tbody>
    </v-table>
    <div class="text-center">
      <v-pagination
        v-model="currentPage"
        :length="len"
        ></v-pagination>
    </div>
  </v-card>
</container-component>
</template>
<script>
import ContainerComponent from "@/components/Container";

export default {
name: "DailyVisits",
components: {ContainerComponent},
data () {
      return {
       
        emp: [
          {
            id: '123',
            firstName: 'Siema',
            lastName: 'Kox',
            pesel: '2121212121',
            
          },

        ],
      }
    },



}
</script>

<style scoped>

</style>
