<template>
<container-component>
<v-col class="text-right">
<v-btn
color="success"
class="mt-2 mb-2 ml-2"
@click="createDoctor()"
>
Nowy rekord
</v-btn>
</v-col>
  <v-card> 
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          Imię
        </th>
        <th class="text-left">
          Nazwisko
        </th>
        <th class="text-left">
          Specializacja
        </th>
        <th class="text-left">
          Odział
        </th>
      </tr>
      </thead>
      <tbody>    
      <tr
          v-for="item in pagedResult"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.specializations[0].name }}</td>
        <td>{{ item.medicalDepartment.name }}</td>
      </tr>
      </tbody>
    </v-table>
    <div class="text-center">
      <v-pagination
        v-model="currentPage"
        :length="len"
        ></v-pagination>
    </div>
  </v-card>
</container-component>
</template>
<script>
import ContainerComponent from "@/components/Container";
import DoctorService from '../services/doctor.service';
export default {
name: "DoctorsTable",
components: {ContainerComponent},
data() {
return {
    currentPage: 1,
    size: 10,
    doctors: []
}
},
created() {
    DoctorService.getDoctorsList().then((response) => {
      this.doctors = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
    DoctorService.getDoctorsList().then((response) => {
      this.doctors = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
computed: {
len() {
    if(this.doctors.length % this.size == 0)
    return this.doctors.length/this.size
    else
    return this.doctors.length/this.size+1
},
pagedResult(){
    return this.doctors.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
}
},
methods: {
    showDetail (itemId) {
    this.$router.push({name: 'DoctorDetail', params: {id: itemId}})
    },
    onItemClicked (itemId) {
        this.showDetail(itemId)
    },
    createDoctor () {
    this.$router.push({name: 'DoctorCreate', params: {id: null}})
    },
}
}
</script>

<style scoped>

</style>