<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>

    <v-alert
        color="green"
        type="success"
        v-if="alert"
      >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    :disabled = !editForm
  >
    <v-text-field
      v-model="firstName"
      :counter="50"
      :rules="firstNameRules"
      label="Imię"
      required
    ></v-text-field>

    <v-text-field
      v-model="surName"
      :rules="surNameRules"
      :counter="50"
      label="Nazwisko"
      required
    ></v-text-field>

    <v-select
      v-model="specializationValue"
      :items="specializations"
      item-title="name"
      item-value="id"
      attach
      chips
      label="Specializacja"
      multiple
      :rules="[v => !!v || 'Specializacja jest wymagana']"
      required
    ></v-select>

    <v-select
      v-model="departamentSelect"
      :items="medicalDepartments"
      item-title="name"
      item-value="id"
      :rules="[v => !!v || 'Odział jest wymagany']"
      label="Oddział"
      required
    ></v-select>

    <v-btn
      color="success"
      class="mr-4"
      @click="validate"
    >
      Zapisz
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="$router.go(-1)"
    >
      Anuluj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="editForm = true"
    >
      Edytuj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="removeRecord(doctor.id)"
    >
      Usuń rekord
    </v-btn>

  </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import DoctorService from '../services/doctor.service';
import MedicalDepartmentService from '../services/medical-department.service';
import SpecializationService from '../services/specialization.service';
export default {
  name: "DoctorDetails",
  components: {ContainerComponent},
  props: ['id'],
  data() {
    return {
        doctor: {},
        arrowLeft: 'mdi-arrow-left',
        valid: true,
        editForm: false,
        alert: false,
        firstName: '',
        firstNameRules: [
          v => !!v || 'Imię jest wymagane',
          v => (v && v.length <= 50) || 'Imię musi mieć mniej niż 50 znaków',
        ],
        surName: '',
        surNameRules: [
          v => !!v || 'Nazwisko jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        specializationValue: [],
        departamentSelect: [],
        specializations: [],
        medicalDepartments: []
    }
  },
  created() {
      DoctorService.getDoctor(this.$props.id).then((response) => {
      this.doctor = response.data

      this.firstName = this.doctor.firstName
      this.surName = this.doctor.lastName

      this.specializationValue = this.doctor.specializations.map((item) => item.id)
      this.departamentSelect = this.doctor.medicalDepartment.id

      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
         this.editForm = true
        }
      })
      MedicalDepartmentService.getMedicalDepartmentList().then((response) => {
      this.medicalDepartments = response.data
      }).catch(error => {
        if (error.response.status === 404) {
          console.log(error.response)
        }
      })
      SpecializationService.getSpecializationList().then((response) => {
      this.specializations = response.data
      }).catch(error => {
        if (error.response.status === 404) {
         console.log(error.response)
        }
      })
  },
  methods: {
      async validate () {
        const validationObject = await this.$refs.form.validate()

        if(validationObject.valid){
          this.saveRecord()
        }
      },
      saveRecord() {
        if(this.editForm === true){
           if(this.doctor.id == null){
              this.createDoctor()
           }
           else{
              this.updateDoctor(this.doctor.id)
           }
           this.$router.go(-1)
        }
      },
      removeRecord(id) {
        this.deleteDoctor(id)
        this.alert = true
      },
      createDoctor() {
        var doctor = {firstName: this.firstName, lastName: this.surName, medicalDepartment_id: this.departamentSelect, specializations: this.specializationValue}

        DoctorService.createDoctor(doctor).then((response) => {
        this.doctor = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      updateDoctor(doctorId){
        var doctor = {firstName: this.firstName, lastName: this.surName, medicalDepartment_id: this.departamentSelect, specializations: this.specializationValue}

        DoctorService.updateDoctor(doctorId, doctor).then(() => {
        }).catch(error => {
          console.log(error)
        })
      },
      deleteDoctor(doctorId) {
        DoctorService.deleteDoctor(doctorId).then(() => {
        }).catch(error => {
          console.log(error)
        })
      }
  }
}
</script>

<style scoped>

</style>