<template>
  <container-component>
    <exams-table />
  </container-component>
</template>

<script>

import ContainerComponent from "@/components/Container";
import ExamsTable from "@/components/ExamsTable";
export default {
  name: 'ExamsPage',
  components: {ExamsTable, ContainerComponent},
  data: () => ({}),
}
</script>

<style scoped>
</style>