<template>
  <container-component>
    <v-row cols="12">
      <v-col cols="6" lg="6" md="12">
        <profile-card />
      </v-col>
      <v-col lg="3" md="6">
        <patient-count-card/>
      </v-col>
      <v-col lg="3" md="6">
        <current-day-card />
      </v-col>
    </v-row>
    <br />
    <h2>Lista dzisiejszych pacjentów</h2>
    <patients-table />
  </container-component>
</template>

<script>

import ContainerComponent from "@/components/Container";
import PatientCountCard from "@/components/home/PatientCountCard";
import CurrentDayCard from "@/components/home/CurrentDayCard";
import ProfileCard from "@/components/home/ProfileCard";
import PatientsTable from "@/components/home/PatientsTable";
export default {
  name: 'HomePage',
  components: {PatientsTable, ProfileCard, CurrentDayCard, PatientCountCard, ContainerComponent},
  data: () => ({}),
  created() {
  }
}
</script>

<style scoped>

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
</style>
