<template>
<container-component>
<v-col class="text-right">
<v-btn
color="success"
class="mt-2 mb-2 ml-2"
@click="create()"
:disabled="canAddNew == 0"
>
Nowy rekord
</v-btn>
</v-col>
  <v-card> 
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          Nazwa zlecenia
        </th>
        <th class="text-left">
          Pacjent
        </th>
        <th class="text-left">
          Wykonawca
        </th>
      </tr>
      </thead>
      <tbody>
 
     <tr
          v-for="item in pagedResult"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.patient.name }} {{ item.patient.surname }}</td>
        <td>{{ item.nurse[0].firstName }} {{ item.nurse[0].lastName }}</td>
      </tr>
      </tbody>
    </v-table>
    <div class="text-center">
      <v-pagination
        v-model="currentPage"
        :length="len"
        ></v-pagination>
    </div>
  </v-card>
</container-component>
</template>
<script>
import ContainerComponent from "@/components/Container";
import MedicalOrderService from '../services/medical-order.service';
export default {
name: "MedicalOrdersTable",
components: {ContainerComponent},
data() {
return {
    currentPage: 1,
    size: 10,
    medicalOrders: [],
    canAddNew: 0
}
},
created() {
  this.me = JSON.parse(localStorage.getItem('me'));
  if (this.me.roles[0].name == "ROLE_ADMIN" || this.me.roles[0].name == "ROLE_DOCTOR")
    this.canAddNew = 1
    
  MedicalOrderService.getMedicalOrdersList().then((response) => {
      this.medicalOrders = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
  MedicalOrderService.getMedicalOrdersList().then((response) => {
      this.medicalOrders = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
      
},
computed: {
len() {
    if(this.medicalOrders.length % this.size == 0)
    return this.medicalOrders.length/this.size
    else
    return this.medicalOrders.length/this.size+1
},
pagedResult(){
    return this.medicalOrders.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
}
},
methods: {
    showDetail (itemId) {
    this.$router.push({name: 'MedicalOrderDetail', params: {id: itemId}})
    },
    onItemClicked (itemId) {
        this.showDetail(itemId)
    },
    create () {
    this.$router.push({name: 'MedicalOrderCreate', params: {id: null}})
    },
}
}
</script>

<style scoped>

</style>