<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>

    <v-alert
        color="green"
        type="success"
        v-if="alert"
      >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    :disabled = !editForm
  >
    <v-text-field
      v-model="name"
      :counter="50"
      :rules="nameRules"
      label="Nazwa zlecenia"
      required
    ></v-text-field>

    <v-textarea
      v-model="description"
      :rules="descriptionRules"
      :counter="2000"
      label="Opis"
      required
    ></v-textarea>

    <v-select
      v-model="patientSelect"
      :items="patientList"
      item-title="fullName"
      item-value="id"
      :rules="[v => !!v || 'Pacjent jest wymagany']"
      label="Pacjent"
      required
    ></v-select>

    <v-select
      v-model="nurseSelect"
      :items="nurseList"
      item-title="fullName"
      item-value="id"
      attach
      chips
      label="Wykonawcy"
      multiple
      :rules="[v => !!v || 'Wykonawcy są wymagani']"
      required
    ></v-select>

    <v-btn
      color="success"
      class="mr-4"
      @click="validate"
    >
      Zapisz
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="$router.go(-1)"
    >
      Anuluj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="editForm = true"
    >
      Edytuj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="removeRecord(medicalOrder.id)"
    >
      Usuń rekord
    </v-btn>

  </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import PatientService from '../services/patient.service';
import MedicalOrderService from '../services/medical-order.service';
import NurseService from '../services/nurse.service';
export default {
  name: "MedicalOrderDetail",
  components: {ContainerComponent},
  props: ['id'],
  data() {
    return {
        medicalOrder: {},
        arrowLeft: 'mdi-arrow-left',
        valid: true,
        editForm: false,
        alert: false,
        name: '',
        nameRules: [
          v => !!v || 'Nazwa zlecenia jest wymagana',
          v => (v && v.length <= 50) || 'Nazwa zlecenia musi mieć mniej niż 50 znaków',
        ],
        description: '',
        descriptionRules: [
          v => !!v || 'Opis jest wymagany',
          v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 2000 znaków',
        ],
        patientSelect: [],
        patientList: [],
        nurseSelect: [],
        nurseList: [],
    }
  },
  created() {
      MedicalOrderService.getMedicalOrder(this.$props.id).then((response) => {
      this.medicalOrder = response.data

      this.name = this.medicalOrder.name
      this.description = this.medicalOrder.description

      this.nurseSelect = this.medicalOrder.nurse.map((item) => item.id)
      this.patientSelect = this.medicalOrder.patient.id

      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
         this.editForm = true
        }
      })
      PatientService.getPatientFullNameList().then((response) => {
      this.patientList = response.data
      }).catch(error => {
        if (error.response.status === 404) {
          console.log(error.response)
        }
      })
      
      NurseService.getNurseSelectList().then((response) => {
      this.nurseList = response.data
      }).catch(error => {
        if (error.response.status === 404) {
         console.log(error.response)
        }
      })
  },
  methods: {
      async validate () {
        const validationObject = await this.$refs.form.validate()

        if(validationObject.valid){
          this.saveRecord()
        }
      },
      saveRecord() {
        if(this.editForm === true){
           if(this.medicalOrder.id == null){
              this.createMedicalOrder()
           }
           else{
              this.updateMedicalOrder(this.medicalOrder.id)
           }
           this.$router.go(-1)
        }
      },
      removeRecord(id) {
        this.deleteMedicalOrder(id)
        this.alert = true
      },
      createMedicalOrder() {
        var medicalOrder = {name: this.name, description: this.description, patient_id: this.patientSelect, nurses: this.nurseSelect}

        MedicalOrderService.createMedicalOrder(medicalOrder).then((response) => {
        this.doctor = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      updateMedicalOrder(id){
                var medicalOrder = {name: this.name, description: this.description, patient_id: this.patientSelect, nurses: this.nurseSelect}

        MedicalOrderService.updateMedicalOrder(id, medicalOrder).then(() => {
        }).catch(error => {
          console.log(error)
        })
      },
      deleteMedicalOrder(id) {
        MedicalOrderService.deleteMedicalOrder(id).then(() => {
        }).catch(error => {
          console.log(error)
        })
      }
  }
}
</script>

<style scoped>

</style>