<template>
  <container-component>
   <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>
    <v-card width="800">
        <v-card-title><h2>Recepta {{id}}</h2></v-card-title>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            :disabled = !editForm
        >
        <v-card-text>
             <v-text-field
                   v-model="patientId"
                   :counter="10"
                   :rules="Idpatient"
                   label="ID Pacjenta"
                   required
                   @change="updateName"
             ></v-text-field>
              <v-text-field
                    v-model="patientName"
                    label="Imię i Nazwisko Pacjenta"
                    disabled
              ></v-text-field>
             <v-select
               v-model="drugValue"
               :items="drugs"
               item-title="name"
               item-value="id"
               attach
               chips
               label="Lekarstwa"
               multiple
               :rules="[v => !!v || 'Lekarstwo jest wymagana']"
               required
             ></v-select>
               <v-text-area
                    v-model="date"
                    :counter="10"
                    :rules="dateMedicalReceipt"
                    label="Data"
                    required
              ></v-text-area>
              <v-textarea
                    v-model="url"
                    label="Url recepty"
                    disabled
              ></v-textarea>
              <v-btn
                color="success"
                class="mr-4"
                @click="validate"
              >
                Zapisz
              </v-btn>
              <v-btn
                  color="error"
                  class="mr-4"
                  @click="$router.go(-1)"
              >
                  Anuluj
              </v-btn>

              <v-btn
                  color="error"
                  class="mr-4"
                  :disabled="editForm"
                  @click="editForm = true"
              >
                  Edytuj
              </v-btn>
              <v-btn
                color="success"
                class="mr-4"
                @click="generate"
              >
                Generuj recepte
              </v-btn>
        </v-card-text>
         </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import PatientService     from '../services/patient.service';
import MedicalReceiptService     from '../services/medical-receipts.service';
import DrugService from '../services/drug.service';

export default {
  name: "MedicalReceiptsDetails",
  components: {ContainerComponent},
  props: ['id'],
  data() {
      return {
         medicalreceipt: {},
         patient: {},

         arrowLeft: 'mdi-arrow-left',
         patientId:'',
         Idpatient: [
              v => !!v || 'Wybór pacjenta poprzez wskazanie jego id jest wymagane',
         ],
         date:'',
         valid: true,
         dateMedicalReceipt: [
                v => !!v || 'Data recepty jest wymagana',
                v => (v && (v[4] == '-' && v[7] == '-')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[0] == '2')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[1] >= '0' && v[1] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[2] >= '0' && v[2] <= '4')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[3] >= '0' && v[3] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[5] >= '0' && v[5] <= '1')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && ((v[5] == 0 && v[6] >= '1' && v[6] <= '9') || (v[5] == 1 && v[6] >= '0' && v[6] <= '2'))) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[8] >= '0' && v[8] <= '3')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (((v[8] == 1 || v[8] == 2) && v[9] >= '0' && v[9] <= '9') || (v[8] == 3 && v[9] >= '0' && v[9] <= '1') || (v[8] == 0 && v[9] >= '1' && v[9] <= '9') )) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && v.length <= 10) || 'Data powinna być w formacie rrrr-mm-dd',


          ],
         patientName:'',
         editForm: false,
         drugs: [],
         drugValue: [],
         url: ''
      }
   },
  created() {

         MedicalReceiptService.getMedicalReceipt(this.$props.id).then((response) => {
         this.medicalreceipt = response.data
         console.log(this.props)
         this.patientId = this.medicalreceipt.patient.id,
         this.patientName = this.medicalreceipt.patient.name + ' ' + this.medicalreceipt.patient.surname,
         this.drugValue = this.medicalreceipt.drugs.map((item) => item.id)
         this.date = this.medicalreceipt.expirationDate
         console.log(response.data)
         }).catch(error => {
           this.editForm = true
           if (error.response.status === 405) {
            this.editForm = true
           }
         })
       DrugService.getDrugList().then((response) => {
       this.drugs = response.data
       }).catch(error => {
         if (error.response.status === 404) {
          console.log(error.response)
         }
       })
     },
      methods: {
          saveRecord() {
                if(this.medicalreceipt.id == null){
                  console.log("create medical receipt")
                   this.createMedicalReceipt()
                }
                else{
                  console.log("update medical receipt")
                   this.updateMedicalReceipt(this.medicalreceipt.id)
                }
                this.$router.go(-1)
           },


              async validate() {
                  const validateObject = await this.$refs.form.validate()

                  if(validateObject.valid){
                      this.saveRecord()
                  }

              },
           updateName() {
                this.patientName= ''
                 PatientService.getPatient(this.patientId).then((response) => {
                 this.patient = response.data
                 this.patientName = this.patient.name + ' ' + this.patient.surname
                  }).catch(error => {
                   if (error.response.status === 405) {
                    this.editForm = true
                   }
                 })
           },
           createMedicalReceipt (){
             const medicalreceipt = {
               patientId: this.patientId,
               drugIds: this.drugValue,
               expirationDate: this.date,
               }

             MedicalReceiptService.createMedicalReceipt( medicalreceipt).then((response) => {

             this.medicalreceipt = response.data
             }).catch(error => {
               console.log(error)
             })

           },
           updateMedicalReceipt (){

             const medicalreceipt = {
               patientId: this.patientId,
               drugIds: this.drugValue,
               expirationDate: this.date,

               }

             MedicalReceiptService.updateMedicalReceipt(this.medicalreceipt.id ,medicalreceipt).then((response) => {
             this.medicalreceipt = response.data
             }).catch(error => {
               console.log(error)
             })
           },
           deleteMedicalReceipt() {
             MedicalReceiptService.deleteMedicalReceipt(this.medicalreceipt.id).then((response) => {
               console.log(response.data)
               console.log("delete medical receipt" + this.medicalreceipt.id)
             }).catch(error => {
               console.log(error)
             })
           },
           generate() {
             MedicalReceiptService.generate(this.medicalreceipt.id).then((response) => {
                this.url = response.data
             }).catch(error => {
               console.log(error)
             })
           }
      }
}
</script>

<style scoped>

.container {
  display: block;
  position: sticky;
  padding-left: 400px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 25px;
}

</style>