<template>
  <container-component>
    <medical-receipts-table />
  </container-component>
</template>

<script>

import ContainerComponent from "@/components/Container";
import MedicalReceiptsTable from "@/components/MedicalReceiptsTable";
export default {
  name: 'MedicalReceiptsPage',
  components: {MedicalReceiptsTable, ContainerComponent},
  data: () => ({}),
}
</script>

<style scoped>
</style>