<template>
  <container-component>
    <v-col class="text-right">
      <v-btn
          color="success"
          class="mt-2 mb-2 ml-2"
          @click="createNurse()"
      >
        Nowy rekord
      </v-btn>
    </v-col>
    <v-card>
      <v-table>
        <thead>
        <tr>
          <th class="text-left">
            id
          </th><th class="text-left">
            Imie
          </th>
          <th class="text-left">
            Nazwisko
          </th>
          <th class="text-left">
            Odział
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in pagedResult"
            :key="item.id"
            @click="onItemClicked(item.id)"
            style="cursor: pointer">
          <td>{{ item.id }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.medicalDepartment.name}}</td>
        </tr>
        </tbody>
      </v-table>
      <div class="text-center">
        <v-pagination
            v-model="currentPage"
            :length="len"
        ></v-pagination>
      </div>
    </v-card>
  </container-component>
</template>

<script>

import ContainerComponent from "@/components/Container";
import NurseService from "@/services/nurse.service";

export default {
  name: "NurseTable",
  components: {ContainerComponent},
  data() {
    return {
      currentPage: 1,
      size: 10,
      nurses: []
    }
  },
  created() {
    NurseService.getNurseList().then((response) =>{
      this.nurses = response.data
       console.log(this.nurses)
    }).catch(e => {
      if(e.response.status === 405){
        console.log(e.response.status)
      }
    })
  },
  mounted() {
    NurseService.getNurseList().then((response) => {
      this.nurses = response.data
    }).catch(error => {
      if (error.response.status === 405) {
        console.log(error.response.status)
      }
    })
  },
  computed: {
    len() {
      if(this.nurses.length % this.size == 0)
        return this.nurses.length/this.size
      else
        return this.nurses.length/this.size+1
    },
    pagedResult(){
      return this.nurses.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
    }
  },
  methods: {
    showDetail (itemId) {
      this.$router.push({name: 'NurseDetails', params: {id: itemId}})
    },
    onItemClicked (itemId) {
      this.showDetail(itemId)
    },
    createNurse () {
      this.$router.push({name: 'NurseCreate', params: {id: null}})
    },
  }
}
</script>

<style scoped>

</style>