<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>

    <v-alert
        color="green"
        type="success"
        v-if="alert"
    >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
      <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          :disabled = !editForm
      >
        <v-text-field
            v-model="firstName"
            :counter="50"
            :rules="firstNameRules"
            label="Imię"
            required
        ></v-text-field>

        <v-text-field
            v-model="surName"
            :rules="surNameRules"
            :counter="50"
            label="Nazwisko"
            required
        ></v-text-field>
        <v-select
      v-model="departamentSelect"
      :items="medicalDepartments"
      item-title="name"
      item-value="id"
      :rules="[v => !!v || 'Odział jest wymagany']"
      label="Oddział"
      required
    ></v-select>

        <v-btn
            color="success"
            class="mr-4"
            @click="validate"
        >
          Zapisz
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            @click="$router.go(-1)"
        >
          Anuluj
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            :disabled="editForm"
            @click="editForm = true"
        >
          Edytuj
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            :disabled="editForm"
            @click="removeRecord(nurse.id)"
        >
          Usuń rekord
        </v-btn>

      </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import MedicalDepartmentService from '../services/medical-department.service';
import NurseService from "@/services/nurse.service";

export default {
    name: "NurseDetails",
    components: {ContainerComponent},
    props: ['id'],
    data() {
      return {
        nurse: {},
        arrowLeft: 'mdi-arrow-left',
        valid: true,
        editForm: false,
        alert: false,
        firstName: '',
        firstNameRules: [
          v => !!v || 'Imię jest wymagane',
          v => (v && v.length <= 50) || 'Imię musi mieć mniej niż 50 znaków',
        ],
        surName: '',
        surNameRules: [
          v => !!v || 'Nazwisko jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        medicalDepartments: [],
        departamentSelect: []
      }
    },
    created() {
      NurseService.getNurse(this.$props.id).then((response) => {
        this.nurse = response.data

        this.firstName = this.nurse.firstName
        this.surName = this.nurse.lastName
        this.departamentSelect = this.nurse.medicalDepartment
        console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
          this.editForm = true
        }
      })
      MedicalDepartmentService.getMedicalDepartmentList().then((response) => {
        this.medicalDepartments = response.data
      }).catch(error => {
        if (error.response.status === 404) {
          console.log(error.response)
        }
      })
    },
    methods: {
      async validate () {
        const validationObject = await this.$refs.form.validate()

        if(validationObject.valid){
          this.saveRecord()
        }
      },
      saveRecord() {
        if(this.editForm === true){
          if(this.nurse.id == null){
            this.createNurse()
          }
          else{
            this.updateNurse(this.nurse.id)
          }
          this.$router.go(-1)
        }
      },
      removeRecord(id) {
        this.deleteNurse(id)
        this.alert = true
      },
      createNurse() {
        var nurse = {firstName: this.firstName, lastName: this.surName, medicalDepartment_id: this.departamentSelect}

        NurseService.createNurse(nurse).then((response) => {
          this.nurse = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      updateNurse(nurseID){
        var nurse = {firstName: this.firstName, lastName: this.surName, medicalDepartment_id: this.departamentSelect}

        NurseService.updateNurse(nurseID, nurse).then(() => {
        }).catch(error => {
          console.log(error)
        })
      },
      deleteNurse(nurseID) {
        NurseService.deleteNurse(nurseID).then(() => {
        }).catch(error => {
          console.log(error)
        })
      }
    }
  }
</script>

<style scoped>

</style>