<template>
<container-component>
    <v-container>
    <v-content >
        <div class="d-flex align-center flex-column">
        <v-card variant="outlined" class="pa-10" max-width="1200">
           <v-card-header><h1>Edytuj dane pacjęta</h1></v-card-header> 
      <v-form
    ref="form"
    v-model="valid"
    lazy-validation 
  >
    <v-text-field
      v-model="name"
      :counter="10"
      :rules="nameRules"
      label="Imie i Nazwisko"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>
    
    <v-text-field
      v-model="number"
      :counter="11"
      :rules="peselRules"
      label="Pesel"
      required
    ></v-text-field>

  <v-text-field
      v-model="Adres"
      label="Adres"
      required
    ></v-text-field>

  <v-text-field
      v-model="Nr_telefonu"
      :counter="9"
      label="Nr telefonu"
      required
  ></v-text-field>
    <v-btn
      :disabled="!valid"
      color="warning"
      class="mr-4"
      @click="validate"
    >
      Sprawdź dane
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Wyczyść 
    </v-btn>

    <v-btn
      color="succes"
      @click="addEmpl"
    >
      Zapisz
    </v-btn>
    </v-form>
    </v-card>
    </div>
  </v-content>  
</v-container>
</container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
  export default {
  components: {ContainerComponent },
   name: 'PatientEdit',
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Imie i nazwisko są wymagane',
        v => (v && v.length <= 30) || 'Imie i zazwisko musi być któtsze niż 30 znaków',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail jest wymagany',
        v => /.+@.+\..+/.test(v) || 'E-mail musi być poprawny',
      ],
   
    }),

    methods: {
      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      addEmpl () {
        this.$refs.form.addEmpl ()
      },
    },
  }
</script>
