<template>
<container-component>
  <v-col class="text-right">
<v-btn
color="success"
class="mt-2 mb-2 ml-2"
@click="createPatient()"
>
Nowy rekord
</v-btn>
</v-col>
   <v-table>
      <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          Imię
        </th>
        <th class="text-left">
          Nazwisko
        </th>
        <th class="text-left">
          Telefon
        </th>
        <th class="text-left">
          Adres
        </th>
      </tr>
      </thead>
      <tbody>    
      <tr
          v-for="item in pagedResult"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.address + " " + item.zip + " " +  item.city + " " + item.state }}</td>
      </tr>
      </tbody>
    </v-table>
    <div class="text-center">
      <v-pagination
        v-model="currentPage"
        :length="len"
        ></v-pagination>
    </div>
</container-component>>
</template>
<script>
import ContainerComponent from "@/components/Container";
import PatientService     from '../services/patient.service';

export default {
name: "PatientsTable",
components: {ContainerComponent},
data() {
return {
    currentPage: 1,
    size: 10,
    patients: []
}
},
created() {
    PatientService.getPatientList().then((response) => {
      this.patients = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
  PatientService.getPatientList().then((response) => {
      this.patients = response.data
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
computed: {
len() {
    if(this.patients.length % this.size == 0)
    return this.patients.length/this.size
    else
    return this.patients.length/this.size+1
},
pagedResult(){
    return this.patients.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
}
},
methods: {
    showDetail (itemId) {
    this.$router.push({name: 'PatientInfo', params: {id: itemId}})
    },
    onItemClicked (itemId) {
      console.log(itemId)
        this.showDetail(itemId)
    },
    createPatient() {
    this.$router.push({name: 'PatientCreate', params: {id: null}})
    },
}
}
</script>


<style scoped>
a{
    text-decoration: none;
    color: #000;
}
.add-btn{
  height: 40px;
  border-radius:90px ;
}
</style> 