<template>
<container-component> 
  <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>
    <v-card width="800" class="p-4 mt-4">
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    :disabled = !editForm
  >
    <v-text-field
      v-model="name"
      :counter="50"
      :rules="firstNameRules"
      label="Imię"
      required
    ></v-text-field>

    <v-text-field
      v-model="surname"
      :rules="surNameRules"
      :counter="50"
      label="Nazwisko"
      required
    ></v-text-field>

    <v-text-field
      v-model="phone"
      :rules="phoneRules"
      :counter="9"
      maxlength = 9
      label="Phone"
      required
    ></v-text-field>

    <v-text-field
      v-model="state"
      :rules="stateRules"
      :counter="50"
      label="Województwo"
      required
    ></v-text-field>
   <v-text-field
      v-model="city"
      :rules="cityRules"
      :counter="50"
      label="Miasto"
      required
    ></v-text-field>

     <v-text-field
      v-model="address"
      :rules="addressRules"
      :counter="50"
      label="Adres"
      required
    ></v-text-field>
     <v-text-field
      v-model="country"
      :rules="cuntryRules"
      :counter="50"
      label="Kraj"
      required
    ></v-text-field>
     <v-text-field
      v-model="zip"
      :rules="zipRules"
      :counter="50"
      label="Kod pocztowy"
      required
    ></v-text-field>
    <v-btn
      color="success"
      class="mr-4"
      @click="validate"
    >
      Zapisz
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="$router.go(-1)"
    >
      Anuluj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="editForm = true"
    >
      Edytuj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="deletePatient(patient.id) && $router.go(-1)"
    >
      Usuń rekord
    </v-btn>

  </v-form>
    </v-card>
</container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import PatientService     from '../services/patient.service';

export default {
  name: 'PatientInfo',
  components: {ContainerComponent},
  props: ['id'],
    data() {
    return {
        patient: {},
        arrowLeft: 'mdi-arrow-left',
        valid: true,
        editForm: false,
        name: '',
        firstNameRules: [
          v => !!v || 'Imię jest wymagane',
          v => (v && v.length <= 50) || 'Imię musi mieć mniej niż 50 znaków',
        ],
        surname: '',
        surNameRules: [
          v => !!v || 'Nazwisko jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        address:'',
        addressRules: [
          v => !!v || 'Nazwisko jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        phone:'',
        phoneRules:[
          v => !!v || 'Telefon jest wymagane',
          v => (v && v.length == 9) || 'Nr telefonu na długość 9 znaków',
        ],
        state:'',
        stateRules: [
          v => !!v || 'Województwo jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        city:'',
        cityRules: [
          v => !!v || 'Miasto jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        country:'',
        cuntryRules: [
          v => !!v || 'Kraj jest wymagane',
          v => (v && v.length <= 50) || 'Nazwisko musi mieć mniej niż 50 znaków',
        ],
        zip:'',
        zipRules: [
          v => !!v || 'Kod pocztowy jest wymagany',
          v => (v && v.length <= 6) || 'Kod pocztowy ma 6 znaków',
        ],      
    }
  },
  created() {

      PatientService.getPatient(this.$props.id).then((response) => {
      this.patient = response.data
      console.log(this.props)
      this.name = this.patient.name
      this.surname = this.patient.surname
      this.address= this.patient.address
      this.phone  = this.patient.phone
      this.state  = this.patient.state
      this.country = this.patient.country
      this.city = this.patient.city
      this.zip = this.patient.zip
      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
         this.editForm = true
        }
      })
  },
  methods: {
        async validate () {
        if(await this.$refs.form.validate()){
          
          if(this.name ==="" || this.name === " " || this.name.length > 50 ){
            false
            if(this.surname ==="" || this.surname === " " || this.surname.length > 50 ){
              false
              if(this.address ==="" || this.address === " " || this.surname.length > 50 ){
                false
                if(this.phone.length < 9 ){
                  false
                   if(this.state ==="" || this.state === " " || this.state.length > 20 ){
                   false
                      if(this.country ==="" || this.country === " " || this.country.length > 20 ){
                      false
                          if(this.city ==="" || this.city === " " || this.city.length > 20 ){
                          false
                          if(this.zip.includes('-',2)){
                          false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          this.saveRecord()
        }
      },
      saveRecord() {
        if(this.editForm === true){
           if(this.patient.id == null){
             console.log("tutaj1")
              this.createPatient()
           }
           else{
             console.log("tutaj2")
              this.updatePatient(this.patient.id)
           }
           this.$router.go(-1)
        }
      },
      createPatient (){
        const patient = {
          name: this.name, 
          surname: this.surname, 
          address: this.address,
          phone: this.phone,
          state: this.state,
          country: this.country,
          city: this.city,
          zip: this.zip
          }
        PatientService.createPatient(patient).then((response) => {
        this.patient = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      updatePatient (){
        const patient = {
          name: this.name, 
          surname: this.surname, 
          address: this.address,
          phone: this.phone,
          state: this.state,
          country: this.country,
          city: this.city,
          zip: this.zip
          }
        PatientService.updatePatient(this.patient.id ,patient).then((response) => {
        this.patient = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      deletePatient(partientID) {
        PatientService.deletePatient(partientID).then((response) => {
          console.log(response.data)
          console.log("coś robi" + partientID)
        }).catch(error => {
          console.log(error)
        })
      }
  }
}

</script>

<style scoped>
a{
    text-decoration: none;
    color: #000;
}
.add-btn{
  height: 40px;
  border-radius:90px ;
}
</style> 