<template>
  <container-component>
    <v-card>
    <v-card-title>
      <h5>Profil - Dane pracownika</h5>
    </v-card-title>
    <v-card-subtitle>
      <v-avatar
          color="brown"
          size="64"
      >
        <v-img
            src="https://randomuser.me/api/portraits/men/85.jpg"
            alt="AD"
        ></v-img>
      </v-avatar>
    </v-card-subtitle>
    <p class="text-h6 ml-3 mt-4">
        Imię: {{ me.firstName }}<br>
        Nazwisko: {{ me.lastName }}<br><br>

        Rola pracownika: {{me.roles[0].name}}
      </p>
    <v-card-actions>
      <v-btn
          variant="text"
          color="teal-accent-4"
          class="pb-2"
      >
        Edytuj
      </v-btn>
      <v-btn
          variant="text"
          color="error"
          class="pb-2"
      >
        Zgłoś nieobecność
      </v-btn>
    </v-card-actions>
  </v-card>
  </container-component>
</template>

<script>

import ContainerComponent from "@/components/Container";
export default {
  name: 'ProfilPage',
  components: {ContainerComponent},
  data() {
    return {
      me: {}
      }
  },
  created() {
    this.me = JSON.parse(localStorage.getItem('me'));
  }
}
</script>

<style scoped>

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
</style>
