<template>
  <container-component>
    <v-col class="text-right">
      <v-btn
          color="success"
          class="mt-2 mb-2 ml-2"
          @click="createReferrals()"
      >
        Nowy rekord
      </v-btn>
    </v-col>
    <v-card>
      <v-table>
        <thead>
        <tr>
          <th class="text-left">
          Typ skierowania
         </th>
          <th class="text-left">
            Doktor
          </th>
          <th class="text-left">
            Pacjent
          </th>
          <th class="text-left">
          Opis
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in pagedResult"
            :key="item.id"
            @click="onItemClicked(item.id)"
            style="cursor: pointer">

          <td>{{ item.status === "SPECIALIST_CLINIC" ? "Poradnia" : "Badanie"}}</td>
          <td>{{ item.doctor.firstName + " " + item.doctor.lastName}}</td>
          <td>{{ item.patient.name + " " + item.patient.surname }}</td>
          <td>{{ item.description}}</td>

        </tr>
        </tbody>
      </v-table>
      <div class="text-center">
        <v-pagination
            v-model="currentPage"
            :length="len"
        ></v-pagination>
      </div>
    </v-card>
  </container-component>
</template>
<script>
import ContainerComponent from "@/components/Container";
import ReferralService from "@/services/referal.service"

export default {
  name: "ReferralsTable",
  components: {ContainerComponent},
  data() {
    return {
      currentPage: 1,
      size: 10,
      referals: [],
      isChecked: "wykonane",
    }
  },
  created() {
    ReferralService.getReferralsList().then((response) =>{
      this.referals = response.data
      console.log(this.referals)
    }).catch(e => {
      if(e.response.status === 405){
        console.log(e.response.status)
      }
    })
  },
  mounted() {
    ReferralService.getReferralsList().then((response) => {
      this.referals = response.data
    }).catch(error => {
      if (error.response.status === 405) {
        console.log(error.response.status)
      }
    })
  },
  computed: {
    len() {
      if(this.referals.length % this.size == 0)
        return this.referals.length/this.size
      else
        return this.referals.length/this.size+1
    },
    pagedResult(){
      return this.referals.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
    }
  },
  methods: {
    createReferrals () {
      this.$router.push({name: 'ReferralsCreate', params: {id: null}})
    },
    onItemClicked (itemId) {
      this.showDetail(itemId)
    },
    showDetail (itemId) {
      this.$router.push({name: 'ReferralsDetails', params: {id: itemId}})
    },
  }
}
</script>

<style scoped>

</style>