<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>

    <v-alert
        color="green"
        type="success"
        v-if="alert"
    >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
      <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          :disabled = !editForm
      >
        <v-radio-group
          v-model="Referralstatus"
          column
        >
          <v-radio
            label="Skierowanie do kliniki"
            value="SPECIALIST_CLINIC"
          ></v-radio>
          <v-radio
            label="Skierowanie na badanie"
            value="MEDICAL_EXAMINATION"
          ></v-radio>
        </v-radio-group>

        <v-select
            v-model="doctorSelect"
            :items="doctorList"
            item-title="fullName"
            item-value="id"
            label="Doktor"
            :rules="[v => !!v || 'Wykonawcy są wymagani']"
            required
        ></v-select>


        <v-select
            v-model="patientSelect"
            :items="patientList"
            item-title="fullName"
            item-value="id"
            :rules="[v => !!v || 'Pacjent jest wymagany']"
            label="Pacjent"
            required
        ></v-select>
        <v-textarea
            v-model="description"
            :rules="descriptionRules"
            :counter="2000"
            label="Opis"
            required
        ></v-textarea>

        <v-btn
            color="success"
            class="mr-4"
            @click="validate"
        >
          Zapisz
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            @click="$router.go(-1)"
        >
          Anuluj
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            :disabled="editForm"
            @click="editForm = true"
        >
          Edytuj
        </v-btn>

      </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import PatientService from "@/services/patient.service";
import ReferralService from "@/services/referal.service";
import DoctorService from "@/services/doctor.service";

export default {
  name: "ReferralDetails",
  components: {ContainerComponent},
  props: ['id'],
  data() {
    return {
      referals:{},
      arrowLeft: 'mdi-arrow-left',
      valid: true,
      editForm: false,
      alert: false,
      Referralstatus: null,
      statusRules: [
        v => !!v || 'Status jest wymagany',
        v => (v && v.length <= 20) || 'Status musi mieć mniej niż 20 znaków',
      ],
      description: '',
      descriptionRules: [
        v => !!v || 'Opis jest wymagany',
        v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 2000 znaków',
      ],
      medicalDepartments: [],
      doctorSelect:[],
      doctorList:[],
      patientSelect: [],
      patientList: [],
      radio: null,
      isChecked: null
    }
  },
  created() {
    ReferralService.getReferrals(this.$props.id).then((response) => {
      this.referals = response.data

      this.Referralstatus = this.referals.status
      this.patientSelect = this.referals.patient
      this.doctorSelect = this.referals.doctor
      this.description = this.referals.description
      this.isChecked = this.referals.isChecked

      console.log(response.data)
    }).catch(error => {
      if (error.response !== 405) {
        this.editForm = true
      }
    })
    PatientService.getPatientFullNameList().then((response) => {
      this.patientList = response.data
      console.log(this.patientList)
    }).catch(error => {
      if (error.response !== null) {
        console.log(error.response.status)
      }
    })
    DoctorService.getDoctorSelectList().then((response) => {
      this.doctorList = response.data
    }).catch(error => {
      if (error.response.status === 404) {
        console.log(error.response)
      }
    })

  },
  methods: {
    async validate () {
      const validationObject = await this.$refs.form.validate()

      if(validationObject.valid){
        this.saveRecord()
      }
    },
    saveRecord() {
      if(this.editForm === true){
        if(this.referals.id == null){
          this.createReferral()
        }
        else{
          this.updateReferral(this.referals.id)
        }
        this.$router.go(-1)
      }
    },
    removeRecord(id) {
      this.deleteNurse(id)
      this.alert = true
    },
    createReferral() {
      var referral = { status: this.Referralstatus.toString(), description: this.description, patientId:this.patientSelect, doctorId: this.doctorSelect}

      ReferralService.createReferrals(referral).then((response) => {
        this.referals = response.data
      }).catch(error => {
        console.log(error)
      })
    },
    updateReferral(referralID){
      var referals = { status: this.Referralstatus.toString(), description: this.description, patientId:this.patientSelect, doctorId: this.doctorSelect}

      ReferralService.updateReferrals(referralID, referals).then(() => {
      }).catch(error => {
        console.log(error)
      })
    },
  }
}
</script>

<style scoped>

</style>