<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>

    <v-alert
        color="green"
        type="success"
        v-if="alert"
    >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
      <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          :disabled = !editForm
      >
        <v-text-field
            v-model="date"
            :counter="50"
            :rules="dateRules"
            label="Data"
            required
        ></v-text-field>

        <v-textarea
            v-model="medicalInterview"
            :rules="medicalInterviewRules"
            :counter="2000"
            label="Wywiad"
            required
        ></v-textarea>

        <v-textarea
            v-model="diagnosis"
            :counter="50"
            :rules="diagnosisRules"
            label="Diagnoza"
            required
        ></v-textarea>

        <v-select
            v-model="patientSelect"
            :items="patientList"
            item-title="fullName"
            item-value="id"
            :rules="[v => !!v || 'Pacjent jest wymagany']"
            label="Pacjent"
            required
        ></v-select>

        <v-select
            v-model="doctorSelect"
            :items="doctorList"
            item-title="fullName"
            item-value="id"
            label="Doktor"
            :rules="[v => !!v || 'Wykonawcy są wymagani']"
            required
        ></v-select>

        <v-text-field
            v-model="numberOfRoom"
            :counter="5"
            label="Nr pokoju"
            required
        ></v-text-field>
<!--        <v-text-field-->
<!--            v-model="vitalsigns"-->
<!--            :counter="50"-->
<!--            :rules="vitalsignsRules"-->
<!--            label="Parametry życiowe"-->
<!--            required-->
<!--        ></v-text-field>-->

<!--       testy -->

        <v-spacer></v-spacer>
        Dodaj parametry życiowe
        <v-btn
            :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            @click="show = !show"
            class="float-end"
        ></v-btn>


        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
            <div class="vital-signs">
              <v-text-field
                  v-model="vitalSignName"
                  :counter="50"
                  :rules="nameRules"
                  label="Nazwa parametru"
                  required
              ></v-text-field>

              <v-textarea
                  v-model="vitalSignDescription"
                  :rules="descriptionRules"
                  :counter="2000"
                  label="Opis"
                  required
              ></v-textarea>

              <p>Dodaj wyniki  </p>

              <v-text-field
                  v-model="name"
                  :counter="50"
                  :rules="nameExam"
                  label="Nazwa badania"
                  required
              ></v-text-field>
              <v-text-field
                  v-model="descriptionE"
                  :counter="100"
                  :rules="descriptionExam"
                  label="Opis badania"
                  required
              ></v-text-field>
              <v-text-field
                  v-model="date"
                  :counter="10"
                  :rules="dateExam"
                  label="Data badania"
                  required
              ></v-text-field>
              <v-checkbox
                  class="container"
                  v-model="realized"
                  :rules="realizedExam"
                  label="Zrealizowano"
              ></v-checkbox>
              <v-text-field
                  v-model="result"
                  :counter="100"
                  :rules="resultExam"
                  label="Wynik badania"
              ></v-text-field>



            </div>
          </div>
        </v-expand-transition>

        <v-spacer></v-spacer>
<!--        <v-text-field-->
<!--            v-model="examinations"-->
<!--            :counter="50"-->
<!--            :rules="examinationsRules"-->
<!--            label="Wyniki"-->
<!--            required-->
<!--        ></v-text-field>-->


        <v-btn
            color="success"
            class="mr-4"
            @click="validate"
        >
          Zapisz
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            @click="$router.go(-1)"
        >
          Anuluj
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            :disabled="editForm"
            @click="editForm = true"
        >
          Edytuj
        </v-btn>

      </v-form>
    </v-card>
  </container-component>
</template>


<script>
import ContainerComponent from "@/components/Container";
import MedicalDepartmentService from "@/services/medical-department.service";
import DoctorService from "@/services/doctor.service";
import VitalSignService from "@/services/vital-sign.service";
import PatientService from "@/services/patient.service";
import TreatmentService from "@/services/treatment.service";
import ReferalService from "@/services/referal.service";
import ExamService from "@/services/exam.service";


export default {
  name: "TreatmentDedtails",
  components: {ContainerComponent},
  props: ['id'],
  data() {
    return {
      treatment: {},
      props: ['id'],
      show: false,
      arrowLeft: 'mdi-arrow-left',
      valid: true,
      editForm: false,
      alert: false,
      date: '',
      dateRules: [
        v => !!v || 'Data badania jest wymagana',
        v => (v && (v[4] == '-' && v[7] == '-')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (v[0] == '2')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (v[1] >= '0' && v[1] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (v[2] >= '0' && v[2] <= '4')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (v[3] >= '0' && v[3] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (v[5] >= '0' && v[5] <= '1')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && ((v[5] == 0 && v[6] >= '1' && v[6] <= '9') || (v[5] == 1 && v[6] >= '0' && v[6] <= '2'))) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (v[8] >= '0' && v[8] <= '3')) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && (((v[8] == 1 || v[8] == 2) && v[9] >= '0' && v[9] <= '9') || (v[8] == 3 && v[9] >= '0' && v[9] <= '1') || (v[8] == 0 && v[9] >= '1' && v[9] <= '9') )) || 'Data powinna być w formacie rrrr-mm-dd',
        v => (v && v.length <= 10) || 'Data powinna być w formacie rrrr-mm-dd',
      ],
      medicalInterview: '',
      medicalInterviewRules: [
        v => !!v || 'Opis jest wymagany',
        v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 2000 znaków',
      ],
      diagnosis: '',
      diagnosisRules: [
        v => !!v || 'Opis jest wymagany',
        v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 2000 znaków',
      ],
      numberOfRoom:'',
      numberOfRoomRules:[
        v => !!v || 'Pole nr pokoju  jest wymagany',
        v => (v && v.length <= 5) || 'Pole nr pokoju musi mieć mniej niż 5 znaków',
      ],
      examinations:[],
      examinationsRules:[
        v => !!v || 'Pole wyniki  jest wymagany',
        v => (v && v.length <= 100) || 'Pole wyniki musi mieć mniej niż 100 znaków',

      ],
      vitalSignName:'',
      vitalSignDescription:'',

      description: '',
      descriptionRules: [
        v => !!v || 'Opis jest wymagany',
        v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 2000 znaków',
      ],
      patientSelect: [],
      patientList: [],
      doctorSelect: [],
      doctorList: [],
      vitalSign: {},
      exam: {},
      descriptionExam:'',
      realized:'',
      result:'',
      descriptionE:'',

    }
  },
  created() {
    this.me = JSON.parse(localStorage.getItem('me'));
    TreatmentService.getTreatment(this.$props.id).then((response) =>{
      this.treatment = response.data
      this.medicalInterview = this.treatment.medicalInterview
      this.date = this.treatment.date
      this.numberOfRoom = this.treatment.numberOfRoom
      this.diagnosis = this.treatment.diagnosis
      this.doctorSelect = this.treatment.doctor.id
      this.patientSelect = this.treatment.patient.id
      this.descriptionE = this.treatment.examinations[0].description
      this.realized = this.treatment.examinations[0].realized
      this.result =this.treatment.examinations[0].result
      this.name = this.treatment.examinations[0].name
      this.vitalSignDescription = this.treatment.vitalSigns[0].description
      this.vitalSignName = this.treatment.vitalSigns[0].name

    }).catch(e => {
      if(e.response.status === 405){
        this.editForm = true
      }
    })
    ReferalService.getReferralsList().then((response) =>{
      this.referals = response.data
    }).catch(e => {
      if(e.response.status === 405){
        console.log(e.response.status)
      }
    })
    PatientService.getPatientFullNameList().then((response) => {
      this.patientList = response.data
    }).catch(error => {
      if (error.response.status === 404) {
        console.log(error.response)
      }
    })

    DoctorService.getDoctorSelectList().then((response) => {
      this.doctorList = response.data
    }).catch(error => {
      if (error.response.status === 404) {
        console.log(error.response)
      }
    })

    VitalSignService.getList().then((response) => {
      this.vitalSign = response.data
      console.log(this.vitalSign[0].id)
    }).catch(error => {
      if (error.response.status === 405) {
        console.log(error.response.status)
      }
    })
    ExamService.getExamList().then((response) => {
      this.examinations = response.data
    }).catch(error => {
      if (error.response.status === 405) {
        console.log(error.response.status)
      }
    })

    MedicalDepartmentService.getMedicalDepartmentList().then((response) => {
      this.medicalDepartments = response.data
    }).catch(error => {
      if (error.response.status === 404) {
        console.log(error.response)
      }
    })
  },
  methods: {
    async validate () {
      const validationObject = await this.$refs.form.validate()

      if(validationObject.valid){
        this.saveRecord()
      }
    },
    saveRecord() {
      if(this.editForm === true){
        if(this.treatment.id == null){
          this.createTreatment()
        }
        else{
          this.updateTreatment(this.treatment.id)
        }
        this.$router.go(-1)
      }
    },
    createTreatment() {
      var vitalSign = {name: this.vitalSignName, description: this.vitalSignDescription, medicalUser_id: this.me.id, patient_id: this.patientSelect}

      VitalSignService.createVitalSign(vitalSign).then((response) => {
        this.vitalSign = response.data

        var exam = {
          patient_id: this.patientSelect,
          name: this.name,
          date: this.date,
          description: this.descriptionE,
          result: this.result,
          realized: this.realized,
        }

        ExamService.createExam(exam).then((response) => {
          this.exam = response.data
          
          var body = {date: this.date, medicalInterview: this.medicalInterview, doctorId: this.doctorSelect, patientId:this.patientSelect, vitalSignsId: [this.vitalSign.id], examinationsId: [this.exam.id], numberOfRoom: this.numberOfRoom, diagnosis: this.diagnosis }

          TreatmentService.createTreatment(body).then((response) => {
          this.treatment = response.data
            
          }).catch(error => {
            console.log(error)
          })
        }).catch(error => {
          console.log(error)
        })
      }).catch(error => {
        console.log(error)
      })
    },
    updateTreatment(treatmentID){
      var vitalSign = {name: this.vitalSignName, description: this.vitalSignDescription, medicalUser_id: this.me.id, patient_id: this.patientSelect}


      if(this.vitalSign[0] == null || this.exam[0] == null){
         VitalSignService.createVitalSign(vitalSign).then((response) => {
        this.vitalSign = response.data

        var exam = {
          patient_id: this.patientSelect,
          name: this.name,
          date: this.date,
          description: this.descriptionE,
          result: this.result,
          realized: this.realized,
        }

        ExamService.createExam(exam).then((response) => {
          this.exam = response.data

          var body = {date: this.date, medicalInterview: this.medicalInterview, doctorId: this.doctorSelect, patientId:this.patientSelect, vitalSignsId: [this.vitalSign.id], examinationsId: [this.exam.id], numberOfRoom: this.numberOfRoom, diagnosis: this.diagnosis }
          TreatmentService.updateTreatment(treatmentID, body).then(() => {
          }).catch(error => {
            console.log(error)
          })
        }).catch(error => {
          console.log(error)
        })
      }).catch(error => {
        console.log(error)
      })
      }
      else{
         VitalSignService.updateVitalSign(this.vitalSign[0] == null ? null : this.vitalSign[0].id  ,vitalSign).then((response) => {
        this.vitalSign = response.data

        var exam = {
          patient_id: this.patientSelect,
          name: this.name,
          date: this.date,
          description: this.descriptionE,
          result: this.result,
          realized: this.realized,
        }

        ExamService.updateExam(this.exam[0] == null ? null : this.exam[0].id ,exam).then((response) => {
          this.exam = response.data

          var body = {date: this.date, medicalInterview: this.medicalInterview, doctorId: this.doctorSelect, patientId:this.patientSelect, vitalSignsId: [this.vitalSign.id], examinationsId: [this.exam.id], numberOfRoom: this.numberOfRoom, diagnosis: this.diagnosis }
          TreatmentService.updateTreatment(treatmentID, body).then(() => {
          }).catch(error => {
            console.log(error)
          })
        }).catch(error => {
          console.log(error)
        })
      }).catch(error => {
        console.log(error)
      })
      }
    },
  }
}
</script>

<style scoped>
.vital-signs{
  background-color: rgb(153 255 215 / 30%)
}
</style>