<template>
  <container-component>
    <v-col class="text-right">
      <v-btn
          color="success"
          class="mt-2 mb-2 ml-2"
          @click="createTreatment()"
      >
        Nowy rekord
      </v-btn>
    </v-col>
    <v-card>
      <v-table>
        <thead>
        <tr>
          <th class="text-left">
            Data
          </th>
          <th class="text-left">
          Wywiad
          </th>
          <th class="text-left">
            Diagnoza
          </th>
          <th class="text-left">
            Pacjent
          </th>
          <th class="text-left">
            Doctor
          </th>
          <th class="text-left">
            Numer sali
          </th>
          <th class="text-left">
            Parametry życiowe
          </th>
          <th class="text-left">
           Wyniki
          </th>

        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in pagedResult"
            :key="item.id"
            @click="onItemClicked(item.id)"
            style="cursor: pointer">
          <td>{{ item.date }}</td>
          <td>{{ item.medicalInterview }}</td>
          <td>{{ item.diagnosis}} </td>
          <td>{{ item.doctor.firstName }} {{ item.doctor.lastName }}</td>
          <td>{{ item.patient.name }} {{ item.patient.surname }}</td>
          <td>{{ item.numberOfRoom}}</td>
          <td>{{ item.vitalSigns[0] == null ? null : item.vitalSigns[0].name }}</td>
          <td>{{ item.examinations[0] == null ? null : item.examinations[0].name }}</td>
        </tr>
        </tbody>
      </v-table>
      <div class="text-center">
        <v-pagination
            v-model="currentPage"
            :length="len"
        ></v-pagination>
      </div>
    </v-card>
  </container-component>
</template>


<script>
import ContainerComponent from "@/components/Container";
import TreatmentService from "@/services/treatment.service";

export default {
  name: "TreatmentTable",
  components: {ContainerComponent},
  data() {
    return {
      currentPage: 1,
      size: 10,
      treatments: [],

    }
  },
  created() {
    TreatmentService.getTreatmentsList().then((response) =>{
      this.treatments = response.data
      console.log(this.treatments)

    }).catch(e => {
      if(e.response.status === 405){
        console.log(e.response.status)
      }
    })

  },
  mounted() {
    TreatmentService.getTreatmentsList().then((response) =>{
      this.treatments = response.data
    }).catch(e => {
      if(e.response.status === 405){
        console.log(e.response.status)
      }
    })
  },
  computed: {
    len() {
      if(this.treatments.length % this.size == 0)
        return this.treatments.length/this.size
      else
        return this.treatments.length/this.size+1
    },
    pagedResult(){
      return this.treatments.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
    }
  },
  methods: {
    showDetail (itemId) {
      this.$router.push({name: 'TreatmentDedtails', params: {id: itemId}})
    },
    onItemClicked (itemId) {
      this.showDetail(itemId)
    },
    createTreatment () {
      this.$router.push({name: 'TreatmentCreate', params: {id: null}})
    },
  }
}

</script>

<style scoped>

</style>