<template>
    <container-component>
       <v-card 
            width="600"
            v-for="item in emp"
            :key="item.name">
           <v-card-title><h2>{{item.name}}</h2></v-card-title>
           <v-card-text>
            <v-table >
                <tbody>
                <tr>Stanowisko: {{item.stanowisko}}</tr>
                <tr>Pesel: {{item.pesel}}</tr>
                <tr>Adres: {{item.adres}}</tr>
                <tr>Adres e-mail: {{item.email}}</tr>
                <tr>nr-telefonu: {{item.nrTelefonu}}</tr>
                <tr>Zarobki :   {{item.zarobki}} zł</tr>
                </tbody>
            </v-table>
            </v-card-text>
               <v-card-actions>
                    <v-btn variant="outlined">
                     <v-icon >mdi-delete</v-icon>Usuń pracownika
                    </v-btn><v-btn variant="outlined">
                    <v-icon >mdi-pencil</v-icon> Edytuj dane
                    </v-btn>
                </v-card-actions>
       </v-card>


    </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";

export default {
  name: 'UserDetails',
  components: {ContainerComponent},
     data () {
      return {
        emp: [
          {
            name: 'Jan Kowalski',
            stanowisko: 'Lekarz',
            pesel: '11223344566',
            adres: 'Warszawa 3 Maja 12',
            email: 'asdasd@ASD.com',
            nrTelefonu: '122 132 321',
            zarobki : '4000',
          },          
        ],
      }
    },
      
}
</script>


<style scoped>
tr {
    font-size: 20px;
}
</style>