<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>

    <v-alert
        color="green"
        type="success"
        v-if="alert"
      >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    :disabled = !editForm
  >
    <v-text-field
      v-model="date"
      :counter="50"
      :rules="dateRules"
      label="Data wizyty"
      required
    ></v-text-field>

    <v-textarea
      v-model="medicalInterview"
      :rules="medicalInterviewRules"
      :counter="2000"
      label="Wywiad"
      required
    ></v-textarea>

        <v-textarea
      v-model="diagnosis"
      :counter="2000"
      :rules="diagnosisRules"
      label="Diagnoza"
      required
    ></v-textarea>

    <v-select
      v-model="patientSelect"
      :items="patientList"
      item-title="fullName"
      item-value="id"
      :rules="[v => !!v || 'Pacjent jest wymagany']"
      label="Pacjent"
      required
    ></v-select>

    <v-select
      v-model="doctorSelect"
      :items="doctorList"
      item-title="fullName"
      item-value="id"
      label="Doktor"
      :rules="[v => !!v || 'Wykonawcy są wymagani']"
      required
    ></v-select>
    

    <v-btn
      color="success"
      class="mr-4"
      @click="validate"
    >
      Zapisz
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="$router.go(-1)"
    >
      Anuluj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="editForm = true"
    >
      Edytuj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="removeRecord(visit.id)"
    >
      Usuń rekord
    </v-btn>

  </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import PatientService from '../services/patient.service';
import VisitService from '../services/visit.service';
import DoctorService from '../services/doctor.service';
export default {
  name: "VisitDetail",
  components: {ContainerComponent},
  props: ['id'],
  data() {
    return {
        visit: {},
        arrowLeft: 'mdi-arrow-left',
        valid: true,
        editForm: false,
        alert: false,
        date: '',
        dateRules: [
                v => !!v || 'Data badania jest wymagana',
                v => (v && (v[4] == '-' && v[7] == '-')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[0] == '2')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[1] >= '0' && v[1] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[2] >= '0' && v[2] <= '4')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[3] >= '0' && v[3] <= '9')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[5] >= '0' && v[5] <= '1')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && ((v[5] == 0 && v[6] >= '1' && v[6] <= '9') || (v[5] == 1 && v[6] >= '0' && v[6] <= '2'))) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (v[8] >= '0' && v[8] <= '3')) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && (((v[8] == 1 || v[8] == 2) && v[9] >= '0' && v[9] <= '9') || (v[8] == 3 && v[9] >= '0' && v[9] <= '1') || (v[8] == 0 && v[9] >= '1' && v[9] <= '9') )) || 'Data powinna być w formacie rrrr-mm-dd',
                v => (v && v.length <= 10) || 'Data powinna być w formacie rrrr-mm-dd',
        ],
        medicalInterview: '',
        medicalInterviewRules: [
          v => !!v || 'Opis jest wymagany',
          v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 50 znaków',
        ],
        diagnosis: '',
        diagnosisRules: [
          v => !!v || 'Opis jest wymagany',
          v => (v && v.length <= 2002) || 'Opis musi mieć mniej niż 2000 znaków',
        ],
        patientSelect: [],
        patientList: [],
        doctorSelect: [],
        doctorList: [],
    }
  },
  created() {
      VisitService.getVisit(this.$props.id).then((response) => {
      this.visit = response.data

      this.date = this.visit.date
      this.medicalInterview = this.visit.medicalInterview
      this.diagnosis = this.visit.diagnosis

      this.doctorSelect = this.visit.doctor.id
      this.patientSelect = this.visit.patient.id

      console.log(response.data)
      }).catch(error => {
        if (error.response.status === 405) {
         this.editForm = true
        }
      })
      PatientService.getPatientFullNameList().then((response) => {
      this.patientList = response.data
      }).catch(error => {
        if (error.response.status === 404) {
          console.log(error.response)
        }
      })
      
      DoctorService.getDoctorSelectList().then((response) => {
      this.doctorList = response.data
      }).catch(error => {
        if (error.response.status === 404) {
         console.log(error.response)
        }
      })
  },
  methods: {
      async validate () {
        const validationObject = await this.$refs.form.validate()

        if(validationObject.valid){
          this.saveRecord()
        }
      },
      saveRecord() {
        if(this.editForm === true){
           if(this.visit.id == null){
              this.createVisit()
           }
           else{
              this.updateVisit(this.visit.id)
           }
           this.$router.go(-1)
        }
      },
      removeRecord(id) {
        this.deleteVisit(id)
        this.alert = true
      },
      createVisit() {
        var visit = {date: this.date, medicalInterview: this.medicalInterview, diagnosis: this.diagnosis, patientId: this.patientSelect, doctorId: this.doctorSelect, medicalPrescriptionId: 1}

        VisitService.createVisit(visit).then((response) => {
        this.doctor = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      updateVisit(id){
                var visit = {date: this.date, medicalInterview: this.medicalInterview, diagnosis: this.diagnosis, patientId: this.patientSelect, doctorId: this.doctorSelect, medicalPrescriptionId: 1}

        VisitService.updateVisit(id, visit).then(() => {
        }).catch(error => {
          console.log(error)
        })
      },
      deleteVisit(id) {
        VisitService.deleteVisit(id).then(() => {
        }).catch(error => {
          console.log(error)
        })
      }
  }
}
</script>

<style scoped>

</style>