<template>
  <container-component>
    <a @click="$router.go(-1)"><v-icon>{{ arrowLeft }}</v-icon> Wróć do listy</a>
    <v-alert
        color="green"
        type="success"
        v-if="alert"
      >Usunięto rekord - wróć do listy</v-alert>
    <v-card width="800" class="p-4 mt-4">
    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    :disabled = !editForm
  >
    <v-text-field
      v-model="name"
      :counter="50"
      :rules="nameRules"
      label="Nazwa parametru"
      required
    ></v-text-field>

    <v-textarea
      v-model="description"
      :rules="descriptionRules"
      :counter="2000"
      label="Opis"
      required
    ></v-textarea>

    <v-select
      v-model="patientSelect"
      :items="patientList"
      item-title="fullName"
      item-value="id"
      :rules="[v => !!v || 'Pacjent jest wymagany']"
      label="Pacjent"
      required
    ></v-select>

    <v-btn
      color="success"
      class="mr-4"
      @click="validate"
    >
      Zapisz
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="$router.go(-1)"
    >
      Anuluj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="editForm = true"
    >
      Edytuj
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      :disabled="editForm"
      @click="removeRecord(vitalSign.id)"
    >
      Usuń rekord
    </v-btn>

  </v-form>
    </v-card>
  </container-component>
</template>

<script>
import ContainerComponent from "@/components/Container";
import VitalSignService from '../services/vital-sign.service';
import PatientService from '../services/patient.service';
export default {
  name: "VitalSignDetails",
  components: {ContainerComponent},
  props: ['id'],
  data() {
    return {
        vitalSign: {},
        arrowLeft: 'mdi-arrow-left',
        valid: true,
        editForm: false,
        name: '',
        nameRules: [
          v => !!v || 'Nazwa parametru jest wymagana',
          v => (v && v.length <= 50) || 'Nazwa parametru musi mieć mniej niż 50 znaków',
        ],
        description: '',
        descriptionRules: [
          v => !!v || 'Opis jest wymagany',
          v => (v && v.length <= 2000) || 'Opis musi mieć mniej niż 2000 znaków',
        ],
        patientSelect: [],
        patientList: [],
        me: {},
        alert: false
    }
  },
  created() {
    VitalSignService.getVitalSign(this.$props.id).then((response) => {
      this.vitalSign = response.data

      this.name = this.vitalSign.name
      this.description = this.vitalSign.description

      this.patientSelect = this.vitalSign.patient.id

      }).catch(error => {
        if (error.response.status === 405) {
         this.editForm = true
        }
      });

    this.me = JSON.parse(localStorage.getItem('me'));
     
    PatientService.getPatientFullNameList().then((response) => {
      this.patientList = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
  },
  methods: {
      async validate () {
        const validationObject = await this.$refs.form.validate()

        if(validationObject.valid){
          this.saveRecord()
        }
      },
      saveRecord() {
        if(this.editForm === true){
           if(this.vitalSign.id == null){
              this.create()
           }
           else{
              this.update(this.vitalSign.id)
           }
           this.$router.go(-1)
        }
      },
      removeRecord(id) {
        this.delete(id)
        this.alert = true
      },
      create() {
        var vitalSign = {name: this.name, description: this.description, medicalUser_id: this.me.id, patient_id: this.patientSelect}

        VitalSignService.createVitalSign(vitalSign).then((response) => {
        this.vitalSign = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      update(id){
        var vitalSign = {name: this.name, description: this.description, medicalUser_id: this.me.id, patient_id: this.patientSelect}

        VitalSignService.updateVitalSign(id, vitalSign).then((response) => {
        this.vitalSign = response.data
        }).catch(error => {
          console.log(error)
        })
      },
      delete(id) {
        VitalSignService.deleteVitalSign(id).then(() => {
        }).catch(error => {
          console.log(error)
        })
      }
  }
}
</script>

<style scoped>

</style>