<template>
<container-component>
<v-col class="text-right">
<v-btn
color="success"
class="mt-2 mb-2 ml-2"
@click="create()"
>
Nowy rekord
</v-btn>
</v-col>
  <v-card> 
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          ID
        </th>
        <th class="text-left">
          Nazwa parametru
        </th>
        <th class="text-left">
          Pacjent
        </th>
        <th class="text-left">
          Pracownik medyczny
        </th>
      </tr>
      </thead>
      <tbody>    
      <tr
          v-for="item in pagedResult"
          :key="item.id"
          @click="onItemClicked(item.id)"
          style="cursor: pointer"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>#{{ item.patient.id }} {{ item.patient.name }} {{ item.patient.surname }}</td>
        <td>#{{ item.medicalUser.id }} {{ item.medicalUser.firstName }} {{ item.medicalUser.lastName }}</td>
      </tr>
      </tbody>
    </v-table>
    <div class="text-center">
      <v-pagination
        v-model="currentPage"
        :length="len"
        ></v-pagination>
    </div>
  </v-card>
</container-component>
</template>
<script>
import ContainerComponent from "@/components/Container";
import VitalSignService from '../services/vital-sign.service';
export default {
name: "VitalSignsTable",
components: {ContainerComponent},
data() {
return {
    currentPage: 1,
    size: 10,
    vitalSigns: []
}
},
created() {
  VitalSignService.getList().then((response) => {
      this.vitalSigns = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
mounted() {
  VitalSignService.getList().then((response) => {
      this.vitalSigns = response.data
      }).catch(error => {
        if (error.response.status === 405) {
            console.log(error.response.status)
        }
      })
},
computed: {
len() {
    if(this.vitalSigns.length % this.size == 0)
    return this.vitalSigns.length/this.size
    else
    return this.vitalSigns.length/this.size+1
},
pagedResult(){
    return this.vitalSigns.slice((this.currentPage-1)*this.size,this.currentPage*this.size)
}
},
methods: {
    showDetail (itemId) {
    this.$router.push({name: 'VitalSignDetail', params: {id: itemId}})
    },
    onItemClicked (itemId) {
        this.showDetail(itemId)
    },
    create () {
    this.$router.push({name: 'VitalSignCreate', params: {id: null}})
    },
}
}
</script>

<style scoped>

</style>